.fondo {
    background-color: rgb(115, 234, 243);
}
.style-card {
  border: solid;
  border-color: black;
  border-width: 2px;
  overflow: hidden;
  transition: all 0.25s;
}

.card-recorte {
  width: 100%;
  height: 176px;
  object-fit: cover;
}

.cardProducto:hover {
  transform: translateY(-15px);
}